<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Онлайн-галерея</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-reboot.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-grid.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
</head>
<body>
<nav class="navbar bg-body-tertiary" style="height: 68px">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">
            <a class="navbar-brand" href="/" style="font-size: 24px">Главная</a>
        </span>
    </div>
</nav>
<div class="bg-image"
     style="background-image: url('{{ url_for('static', filename='images/99px_ru_wallpaper_359312_abstrakcija_napominaushaja_razrez_minerala_krupnim_planom.jpg') }}')">
    <section
            class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto rounded bg-trans p-3">
                <h1 class="fw-light title">Онлайн-галерея</h1>
                <p class="lead text-body-secondary title-desc">Добро пожаловать в мир искусства!<br>
                    Откройте для себя коллекцию уникальных картин от талантливых художников.<br> Каждое произведение
                    искусства рассказывает свою историю и привнесет вдохновение в ваш дом или офис.<br> Будь то
                    современное искусство, классика или что-то экстраординарное – у нас вы найдете картину, которая
                    подчеркнет вашу индивидуальность и стиль.
                    <br>Пусть ваше пространство заговорит языком искусства...</p>
            </div>
        </div>
    </section>
</div>
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row">
            <div class="col-3 mt-2">
                <div class="card shadow-sm">
                    <img src="{{ url_for('static', filename='images/kartinka1.jpg') }}" class="rounded">
                    <div class="card-body">
                        <p class="card-text image-title">ЧЕРВИ</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-body-secondary image-price">81500₽</small>
                            <div class="btn-group">
                                <a href="/chervi" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 mt-2">
                <div class="card shadow-sm">
                    <img src="{{ url_for('static', filename='images/kartinka2.jpg') }}" class="rounded">
                    <div class="card-body">
                        <p class="card-text image-title">ПРИСУТСТВИЕ. ЯВЛЕНИЕ ИНОСТРАННОГО АГЕНТА</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-body-secondary image-price">90000₽</small>
                            <div class="btn-group">
                                <a href="/face" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 mt-2">
                <div class="card shadow-sm">
                    <img src="{{ url_for('static', filename='images/kartinka3.jpg') }}" class="rounded">
                    <div class="card-body">
                        <p class="card-text image-title">PEACEFUL SKY</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-body-secondary image-price">70000₽</small>
                            <div class="btn-group">
                                <a href="/sky" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 mt-2">
                <div class="card shadow-sm">
                    <img src="{{ url_for('static', filename='images/kartinka4.jpg') }}" class="rounded">
                    <div class="card-body">
                        <p class="card-text image-title">PATSANY, ETO MRAK</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <small class="text-body-secondary image-price">50000₽</small>
                            <div class="btn-group">
                                <a href="/patsany" type="button" class="btn btn-sm btn-outline-secondary">View</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <span class="mb-3 mb-md-0 text-muted">© 2024 Все права защищены</span>
        </div>
    </footer>
</body>

